//HEADER
$header-bg-collapse:#ec4958;

// MUSIC IS LIFE
$music-islife-bg:#323844;
$music-islife-bar:#ec4958;
$music-islife-gbar:#3a4151;
$music-islife-text:#505361;

// LATEST BAND NEWS
$latest-bg:#252a33;
$latest-card-bg:#323844;
$latest-title:#ec4958;
$news-background:#ec4958;

// LIVEDATES
$livedates-bg:#252a33;
$livedates-text:#777687;
$livedates-text:#ec4958;